# Build output
dist/

# Environment
.env
.env.*
.env.example

# Logs
*.log

# TypeScript
*.tsbuildinfo 

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml