option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    MONGODB_URI: ${MONGODB_URI}
  # Disable enhanced health reporting
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
  # Disable managed platform updates since we're using basic health
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: false
